.carousel-inner
{
    height: 60vh;  
}
.carousel-item img
{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel-item
{
    height: 100%;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  object-position: top;
}
.logoEcole{
    font-family: 'Comfortaa', cursive;
}
.logo404{
    color: #F5420A;
    /*font-family: 'Inconsolata', monospace; */
    font-weight: bold;
    font-size: 120%;
}
body{
    color:rgb(23, 64, 105);
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
    bac
    /* background-image: url('images/back.jpg'); */
    /*   #00b894   */
}
.input{
    width: 100%;
}