.carousel-inner
{
  height: 60vh;  
}
.carousel-item img
{
  object-fit: cover;
  object-position: center;
}
#presentation {
  padding-top: 3.5rem;
}
#formation {
  padding-top: 5.5rem;
}
#team {
  padding-top: 5.5rem;
}
#contact {
  padding-top: 5.5rem;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  object-position: top;
}
footer {
  height: 8rem;
}
.imageflou{
  background-color: rgba(0,0,0,0.3);

}